/**
 * A simple overriding CSS file so that I don't have to install a crazy number of dependencies. by Arty-chan
 */
/* GLOBAL STYLES */
@font-face {
  font-family: 'League Gothic';
  src: url("../../lib/font/league_gothic-webfont.eot");
  src: url("../../lib/font/league_gothic-webfont.eot?#iefix") format("embedded-opentype"), url("../../lib/font/league_gothic-webfont.woff") format("woff"), url("../../lib/font/league_gothic-webfont.ttf") format("truetype"), url("../../lib/font/league_gothic-webfont.svg#LeagueGothicRegular") format("svg");
  font-weight: normal;
  font-style: normal; }

body {
  background: #d6d6ff;
  background: -moz-radial-gradient(center, circle cover, white 0%, #d6d6ff 100%);
  background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, white), color-stop(100%, #d6d6ff));
  background: -webkit-radial-gradient(center, circle cover, white 0%, #d6d6ff 100%);
  background: -o-radial-gradient(center, circle cover, white 0%, #d6d6ff 100%);
  background: -ms-radial-gradient(center, circle cover, white 0%, #d6d6ff 100%);
  background: radial-gradient(center, circle cover, white 0%, #d6d6ff 100%);
  background-color: #d9d9ff;
}

.reveal .slides { top: 45%; }

/* HEADERS */
.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6 {
  font-family: "League Gothic", Impact, sans-serif;
  -webkit-hyphens: none;
     -moz-hyphens: none;
          hyphens: none;
  text-transform: uppercase;
}

/* TEXT */
.reveal .bigtext { font-size: 200%; }

.reveal cite { 
  font-size: 40%;
  display: block;
  line-height: 1em;
  margin-top: 1em;
}
.reveal img + cite { margin-top: -10px; }

.reveal blockquote {
  width: 75%;
  font-size: 130%;
  line-height: 1.2em;
}

.reveal blockquote p.quoted {
  text-align: right;
  font-size: 70%;
  display: block;
  padding-top: 0.5em;
}

.reveal ul + h3 {
  margin-top: 0.5em;
}

/* MEDIA */
.reveal img, .reveal video, .reveal iframe { max-height: 700px; }

.reveal .contact h3 { 
  margin-top: 1em;
  margin-bottom:-0.5em;
}

.reveal .contact img {
  height:200px;
  border:none;
  box-shadow:none;
  vertical-align: middle;
}

.reveal .contact ul {
  list-style:none;
  display:inline-block;
  vertical-align: middle;
}
